<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE FILM NOSTALGIA</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
    <header>
        <div class="nevbar">
            <div class="logo">
                <img src="images/logo.jpg" height="100%" width="100%">
            </div>

            <div class="name">
                <p>THE FILM NOSTALGIA</p>
            </div>

            <div class="about">
                <a href="/about">about</a>
            </div>
        </div>
    </header>

    <div class="backgroundimage">
        <img src="images/backgroundimage.jpeg" width="100%" height="590rem">
        <div class="backgroundimage-text">
            <h1>Begining of the Nostalgic Effect...!!!</h1>
            <h3>Movies by Choice</h3>
        </div>

        <div class="login user">
            <a href="/login-user">sign in/sign up as user</a>
        </div>

        <div class="login theater">
            <a href="/login-theater">sign in/sign up as theater</a>
        </div>
    </div>

    <div class="options">
            <div class="choose">
                <img src="images/op1.jpg" height="100%" width="100%">
                <div class="option-text">
                    <h1>Choose</h1>
                </div>
            </div>

            <div class="vote">
                <img src="images/op2.jpg" height="100%" width="100%">
                <div class="option-text">
                    <h1>Vote</h1>
                </div>
            </div>

            <div class="book">
                <img src="images/op3.jpeg" height="100%" width="100%">
                <div class="option-text">
                    <h1>Book</h1>
                </div>
            </div>

            <div class="enjoy">
                <img src="images/op4.jpg" height="100%" width="100%">
                <div class="option-text">
                    <h1>Enjoy</h1>
                </div>
            </div>
    </div>

    <footer>
        <div class="footer-panel1">
            <a href="/">Back to top</a>
        </div>

        <div class="copyrights">
            <pre>
                Conditions of Use   Privacy Notice  Your Ads Privacy Choices
                    © 1996-2024, Amazon.com, Inc. or its affiliates
            </pre>
        </div>
    </footer>
    
</body>
</html>