<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE FILM NOSTALGIA</title>
    <link rel="stylesheet" href="/stylesheets/profile-user.css">
</head>
<body>
    <header>
        <div class="nevbar">
            <div class="logo">
                <img src="/images/logo.jpg" height="100%" width="100%">
            </div>

            <div class="name">
                <p>THE FILM NOSTALGIA</p>
            </div>

            <div class="buttons">
                <div class="about">
                    <a href="/profile-page-user">profile</a>
                </div>
    
                <div class="about">
                    <a href="/about">about</a>
                </div>
    
                <div class="about">
                    <a href="/logout">logout</a>
                </div>
            </div>
        </div>
    </header>

    <div class="backgroundimage">
        <img src="/images/backgroundimage.jpeg" width="100%" height="590rem">
        <div class="backgroundimage-text">
        </div>
    </div>

    <div class="options">

            <div class="vote">
                <img src="/images/op2.jpg" height="100%" width="100%">
                <div class="option-text">
                    <a href="/vote">Vote</a>
                </div>
            </div>

            <div class="book">
                <img src="/images/op3.jpeg" height="100%" width="100%">
                <div class="option-text">
                    <a href="/book">Book</a>
                </div>
            </div>
    </div>

    <footer>

        <div class="copyrights">
            <pre>
                Conditions of Use   Privacy Notice  Your Ads Privacy Choices
                    © 1996-2024, Amazon.com, Inc. or its affiliates
            </pre>
        </div>
    </footer>
    
</body>
</html>