<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Booking Page</title>
    <link rel="stylesheet" href="stylesheets/seat-booking.css">
</head>
<body>
    <div class="container">
        <h1>Movie Theater Seat Booking</h1>
        <div class="screen">Screen</div>
        <div class="seats-container">

            <div class="row">
                <div class="seat" data-seat="A1">a1</div>
                <div class="seat" data-seat="A2"></div>
                <div class="seat" data-seat="A3"></div>
                <div class="seat" data-seat="A4"></div>
                <div class="seat" data-seat="A5"></div>
                <div class="seat" data-seat="A6"></div>
                <div class="seat" data-seat="A7"></div>
                <div class="seat" data-seat="A8"></div>
            </div>
            <div class="row">
                <div class="seat" data-seat="B1"></div>
                <div class="seat" data-seat="B2"></div>
                <div class="seat" data-seat="B3"></div>
                <div class="seat" data-seat="B4"></div>
                <div class="seat" data-seat="B5"></div>
                <div class="seat" data-seat="B6"></div>
                <div class="seat" data-seat="B7"></div>
                <div class="seat" data-seat="B8"></div>
            </div>
            <div class="row">
                <div class="seat" data-seat="c1"></div>
                <div class="seat" data-seat="c2"></div>
                <div class="seat" data-seat="c3"></div>
                <div class="seat" data-seat="c4"></div>
                <div class="seat" data-seat="c5"></div>
                <div class="seat" data-seat="c6"></div>
                <div class="seat" data-seat="c7"></div>
                <div class="seat" data-seat="c8"></div>
            </div>
            <div class="row">
                <div class="seat" data-seat="d1"></div>
                <div class="seat" data-seat="d2"></div>
                <div class="seat" data-seat="d3"></div>
                <div class="seat" data-seat="d4"></div>
                <div class="seat" data-seat="d5"></div>
                <div class="seat" data-seat="d6"></div>
                <div class="seat" data-seat="d7"></div>
                <div class="seat" data-seat="d8"></div>
            </div>
            <div class="row">
                <div class="seat" data-seat="e2"></div>
                <div class="seat" data-seat="e1"></div>
                <div class="seat" data-seat="e3"></div>
                <div class="seat" data-seat="e4"></div>
                <div class="seat" data-seat="e5"></div>
                <div class="seat" data-seat="e6"></div>
                <div class="seat" data-seat="e7"></div>
                <div class="seat" data-seat="e8"></div>
            </div>

        </div>
    </div>

    <script src="app.js"></script>
    <script src="javascreepts/seat-booking.js"></script>
</body>
</html>
