<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/vote.css">
</head>
<body>
    
    <div class="back">
        <a href="profile-user/<%=user._id%>">back</a>
    </div>

    <div class="container">
        <div class="topcard">
            <div class="topimage">
                <img src="images/op1.jpg" height="100%" width="100%">
            </div>

            <div class="topdetails">
                <div class="details">
                    <h3>Jhon Wick</h3>
                    <pre>

    Director : Chad Stahelski
    Writer   : Derek Kolstad
    Stars    : Keanu ReevesMichael NyqvistAlfie Allen
    IMDb     : 7.4/10

    summary  : Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eum, mollitia iure. Cumque, culpa? Hic reiciendis quos, 
            repudiandae iste perferendis eum, sed temporibus voluptatem 
            fugit ipsum placeat? Tenetur consequatur adipisci qui!
                    </pre>
                </div> 
                
                <div class="vote">
                    <button>Vote: 2134</button>
                </div>
                
            </div>
        </div>


        <div class="topcard">
            <div class="topimage">
                <img src="images/op1.jpg" height="100%" width="100%">
            </div>

            <div class="topdetails">
                <div class="details">
                    <h3>Jhon Wick</h3>
                    <pre>

    Director : Chad Stahelski
    Writer   : Derek Kolstad
    Stars    : Keanu ReevesMichael NyqvistAlfie Allen
    IMDb     : 7.4/10

    summary  : Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eum, mollitia iure. Cumque, culpa? Hic reiciendis quos, 
            repudiandae iste perferendis eum, sed temporibus voluptatem 
            fugit ipsum placeat? Tenetur consequatur adipisci qui!
                    </pre>
                </div> 
                
                <div class="vote">
                    <button>Vote: 2134</button>
                </div>
                
            </div>
        </div>
    </div>


  


</body>
</html>